@import './../../node_modules/pragma-views2/scss/lib/variables';

application-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $app-toolbar-height;
  background: rgba(var(--c-text),1);
  color: rgba(var(--c-app-bar), 1);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  .search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    line-height: $app-toolbar-height;
    margin-left: $default-margin;
  }
}