@import './../node_modules/pragma-views2/scss/style';

/**
  Temp this must be used to pragma-views
 */

body {
  --size-x-large: 1.32 rem;
}

.header {
  font-size: var(--size-x-large);
  color: rgba(var(--c-text),1);
}

// temp while we wait for icon buttons
.icon-button, #btnLookup, #btnPeek, assistant button {
  min-width: 2rem;
}


pragma-split-view-left {
  position: relative;  
}

div[slot="left"] {
  will-change: transform;
}

.unsupported-browser{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 10000;
  background: #E7E8EC;
  display: flex;
  align-items: center;
  p{
    text-align: center;
    padding: 1rem;
    flex: 1;
  }
}